.label-lista{
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
 
}

.select-lista{
    background-color: white;
    width: 100%;
    text-align: justify;
    border: none;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    font-size: 24px;
    padding: 20px;
    box-sizing: border-box;
}